* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #3C1F01;
}

h1, h2 {
    font-family:'Dancing Script', serif;
    font-weight: 700;
}

p {
    font-family: Arima, sans-serif;
    font-size: 1em;
}

#style-page {
    background-color: white;
    margin: auto;
    margin-top: 80px;
    max-width: 70%;
}

#globalnav {
    margin-top: 20px;
}

#globalnav ul {
    padding: 15px;
    text-align: right;
}

#globalnav li {
    display: inline;
}

.navlink {
    color: rgb(67, 39, 12);
    text-decoration: none;
    padding: 20px 20px;
    font-family: 'Dancing Script', serif;
    font-size: 1.5em;
    font-weight: 700;
}

.navlink:hover {
    text-decoration: underline;
}

.headimage {
    width: 100%;
    margin: -20px 0;
}

#highlight {
    font-weight: 700;
    color: #D53D34;
}

.rsvp-btn {
    background-color: #5B9D87;
}