* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*setting up style variables*/
:root {
  --emphasis-color: #D53D34;
  --action-color: #5B9D87;
  --accent-color: #F1B533;
  --heading-color: #3C1F01;

  --heading-font: "Dancing Script", serif;
  --body-font: "Arima, sans-serif";
}

body {
  background-color: #3C1F01;
}

#style-page {
  background-color: white;
  margin: auto;
  margin-top: 80px;
  max-width: 70%;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 3em;
  color: var(--heading-color);
  margin: 50px 0;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 2.5em;
  color: var(--heading-color);
  margin-top: 40px;
}

p {
  font-family: var(--body-font);
  font-size: 1.1em;
}


/*global navigation styles*/
#globalnav {
  margin-top: 20px;
}

#globalnav ul {
  padding: 15px;
  text-align: right;
}

#globalnav li {
  display: inline-block;
  position: relative;
  margin: 0px 10px;
}

.navlink {
  color: var(--heading-color);
  text-decoration: none;
  padding: 10px 5px;
  font-family: var(--heading-font);
  font-size: 1.75em;
  font-weight: 700;
  transition: 0.25s;
}

.navlink:hover {
  color: var(--action-color);
}

.navlink::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--action-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navlink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*navigation end*/


.headimage {
  width: 100%;
}

#highlight {
  font-weight: 700;
  color: var(--emphasis-color);
}

strong {
  color: var(--emphasis-color);
}

.divider {
  border: 2px solid black;
  margin: 80px 40px 20px 40px;
}

.btn-primary {
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  background-color: var(--action-color);
  color: black;
  display: block;
  text-align: center;
  border-radius: 20px;
  margin: 40px 0;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: #37705d;
  color: white;
}


/*countdown timer style*/
.countdown-style {
  font-family: "Anonymous Pro", serif;
  font-weight: 700;
  text-align: center;
  color: var(--emphasis-color);
  margin-top: 30px;
  max-width: 100%;
  font-size: 4vw;
}

@media screen and (max-width:992px) {
  .countdown-style {
    font-size: 10vw;
  }
}

#countdown-caption-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0% 5%;
}

.countdown-caption {
  display: inline-block;
  font-size: 0.8em;
  color: var(--emphasis-color);
  margin-top: -20px;
}

/*countdown end*/


/*soup quiz tiles*/
.quiz-tile {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: 0.5s;
}

.quiz-tile:hover {
  outline: 8px solid var(--accent-color);
}

.bold-caption {
  color: var(--heading-color);
  text-align: center;
  font-weight: 700;
}

/*quiz tile end*/


/*meet the chefs*/
.chef-img {
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  border: 15px double #919191;
  background-color: #d8d8d8;
  border-radius: 50%;
}

.chef-desc {
  font-size: 0.9em;
  padding: 0;
  margin-bottom: 50px;
}

/*chef tiles end*/

/*about page styling*/
#about-pic {
  width: 100%;
  padding: 20px;
  border: 15px double #919191;
  background-color: #d8d8d8;
  border-radius: 50%;
}

.about-text {
  font-size: 0.95em;
  margin-top: 5%;
}

#about-cap {
  font-size: 0.8em;
  font-style: italic;
  padding-top: 20px;
  text-align: center;
  color: var(--heading-color);
}

/*testimonial section*/
/*uses code snippets from W3 schools*/
#testimonial-bg {
  position: relative;
  outline: 2px solid #cccccc;
  border-radius: 15px;
  text-align: center;
  padding: 50px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%22ff0000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%22ff0000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators [data-bs-target] {
  background-color: var(--emphasis-color);
}

blockquote {
  position: relative;
  margin: 5%;
  padding: 4% 8%;
  text-align: justify;
}

blockquote:before {
  font-family: var(--body-font);
  color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  font-size: 6em;
  content: "\201C";
  padding-left: -50px;
}

blockquote:after {
  font-family: var(--body-font);
  color: var(--accent-color);
  position: absolute;
  float: right;
  right: 0;
  bottom: -0.5em;
  font-size: 6em;
  content: "\201D";
}
/*testimonial end*/

/*contact form*/
#contact-form {
  background-color: #fff;
}